<!DOCTYPE html>
<html>
<head>
  <title>Life</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body data-no-turbolink>
	<nav>
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo">Avril Lavigne</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/words">Words</a></li>
	        <li><a href="/journals">Journals</a></li>
	      </ul>
	    </div>
	</nav>
	<div class="row">

	  <div class="col s12">
	    <%= yield %>
	  </div>

	</div>
</body>
</html>
